onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=unrs-resolver
